/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

a {
    color: inherit; 
    text-decoration: inherit;
} 

body {
    display: flex;
    margin-top: 0em;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    /* padding: 5px; */ /*Change by Lou*/
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 100%;
    flex: 1 1 auto;
}

.card img {
    object-fit: cover;
}

.card-title {
    display: flex;
    font-size: 16px;
    font-weight: 700;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/* Lou */
/*
nav {
    display: flex;
    color: var(--main-bg-color);
    flex-direction: row;
}
*/
ul {
    list-style-type: none;
}

/****** Header ***********/

header {
    height: 79px;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.topnav {
    display: flex;
    gap: 68px;
    margin-top: 0em;
    padding: 0 50px 0 50px;
    color: var(--main-bg-color);
    height: 35px;
}

.buttonnav {
    font-size: 16px;
    display: inline-block;
    background-color: white;
    border: none;
    padding-top: 10px;
    color: var(--main-color);
}

.buttonnav:hover {
    border-top: 2px solid var(--main-color) !important;
    color: var(--main-color);
    padding-top: 8px;
}

#logo {
    margin-top: auto;
    padding: 30px 0px;
}

/******* Section de Recherche ***********/
.recherche {
    display: flex;
    height: 49px;
    border: solid 1px var(--main-bg-color);
    width: 377px;
    border-radius: 15px;
    align-items: center;
}

#box {
    min-width: 50px;
    width: 50px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px;
    background-color: var(--main-bg-color);
}

#search {
    display: flex;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    padding-left: 24px;
    width: 100%;
    border: none;
}

#searchbutton {
    color: white;
    position: relative;
    right: -1px;
    background-color: var(--main-color);
    border: none;
    border-radius:0 15px 15px 0;
    height: 51px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

#searchbutton > i {
    display: none;
}

 /* ---------- Responsive
#searchglass {
    color: white;
    background-color: var(--main-color);
    border: none;
    border-radius: 15px;
    height: 49px;
    width: 49px;
    border: solid red;
    font-size: 20px;
    right: -1px;
    font-weight: 700;
    padding: 15px 16px 15px 16px;
}


#searchglass > i {
    color: white;
}
*/

/*  Tempo ?  */
.InfoGroupe {
    margin-bottom: auto;
    padding: 35px 0px;
    display: flex;
    gap: 35px;
    flex-direction: column;
}
/**/

.fa-location-dot {
    color: black;
}

.filtres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
}

.filterbutt > button {
    border-radius: 15px;
}

.disclaimer {
    display: flex;
    align-items: center;
    gap: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    gap: 35px;
    justify-content: space-between;
    align-items: flex-start;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

/****** Hebergements ***********/
.hebergements {
    width: 100%;
}

.hebergements > h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}

.hebergements-cards {
    flex-flow: row wrap;
    display: flex;
    border-radius: 20px;
    padding: 0px 0px 15px 0px;
    gap: 30px;
    background-color: white;
}

.hebergements-cards > .card {
    width: 25%;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border: 5px white;
    border-radius: 20px 20px 0px 0px;
}
.hebergements-cards .card-content {
    padding-left: 15px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}



/****** Populaires ***********/
.populaires {
    width: 429px;      /*Change Later bis*/
    min-width: 429px;  /*Change later ?*/
}

.populaires-title {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.populaires-cards {gap: 30px;display: flex;flex-direction: column;}

.populaires-cards .card {
    display: flex;
    flex: 1;
    width: 100%;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.populaires-cards a {
    width: 100%;
    display: flex;
}

/****** Activités ***********/

#activités {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.activités-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 30px;
}

#activités .card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#activités .card img {
    width: 100%;
    height: 380px;
    border: 5px white;
    border-radius: 20px 20px 0px 0px;
}

#activités .card > .card-content {
    padding: 20px 19px;
    height: 19px;
    display: flex;
    align-items: center;
}

.activités-cards > a {
    display: flex;
    width: 100%;
}

/****** Footer ***********/

footer{
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
}

footer h1 {
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
}

footer h2 {
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
}

.foot {
    display: flex;
    width: 100%;
    padding: 20px;
    gap: 15px;
    justify-content: flex-start;
    flex-direction: column;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        gap: 20px;
        flex-direction: row;
    }

    /*.populaires-cards .card {
        width: 30%;
    }*/

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .main-container {
        padding: 0px;
    }

    .hebergements-and-populaires section {
        gap: 20px;
    }

    #activités .card img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        width: 100%;
        position: absolute;
        margin: auto;
        padding: 0px;
    }

    .main-container{
        margin: 0px;
        width: fit-content;
        padding: 0px;
    }

    .header {
        flex-direction: column;
        display: flex;
        align-items: center;
        width: 100%;
    }

    .hebergements-and-populaires #hebergements {
        margin: 0px;
        padding: 0px;
    }
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        width: 100%;
    }

    .populaires-cards {
        flex-direction: column;
        width: 90%;
        padding: 5px;
    }

    .populaires-cards .card {
        width: 100%;
    }

    .hebergements-cards {
        flex-direction: column;
        width: 100%;
    }

    .hebergements-cards .card {
        width: 100%;
    }

    .buttonnav {
        padding-top: 0px;
        padding-bottom: 10px;
    }

    .buttonnav:hover {
        border-top: 0px !important;
        border-bottom: 2px solid var(--main-color) !important;
        color: var(--main-color);
        padding-top: 0px;
        padding-bottom: 8px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 30px;
        gap: 50px;
    }

    .activités-cards {
        display: flex;
        flex-direction: column;
        padding: 0px;
        gap: 15%;
    }

    #activités .card img {
        height: 141px;
    }

    #searchbutton {
        border-radius: 15px;
    }

    #searchbutton > i {
        display: block;
        color: white;
        background-color: var(--main-color);
        border-radius: 15px;
        font-size: 17px;
        font-weight: 700;
        padding: 11px;
    }

    #searchbutton > p {
        display: none;
    }

    .populaires {
        min-width: 0px;
    }

}